body {
    background-image: url("/img/background-login.svg");
    background-size: 100%;
    opacity: 1;
    background-repeat: no-repeat;
}

.cadastro-container {
   margin-top: 90px;
}

.logo {
    display: flex;
    justify-content: center;
    align-self: center;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(#8e1552, #171041);
    width: 80vh;
    margin: 0 auto;
    height: 120vh;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
}

.titulo-cadastro {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}

.cadastro-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vh;
    margin: 0 auto;
}


.voltar-index, .finalizar-button{
    text-decoration: none;
    color: black;
}

.voltar-index:hover, .finalizar-button:hover {
    color: #9173D1;
    text-decoration: underline;
    text-transform: uppercase;
}

.cadastro-label {
    margin-top: 20px;
}

.cadastro-input {
    padding: 7px;
    border-radius: 0;
    margin-top: 10px;
}

.finalizar-button {
    padding: 8px;
    width: 20vh;
    margin: 35px auto;
}

.finalizar-button:hover {
    background-color: #9173D1;
    color: white;
}