.footerSpace {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainer {
    width: 500px;
    height: 30px;
    min-width: 10rem;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

.barraEmail {
    
    width: 74%;
    height: 92%;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-size: 14px;
    /* padding: 4px;
    padding-right: 3px; */
}

.botaoEmail {
    width: 23%;
    height: 85%;
    border-radius: 15px;
    background-color: #8e1552;
    padding: 5px 0 5px 5px;
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    cursor: pointer;
}

.barraEmail:focus {
    outline: none;
}

.divEmailFocada {
    border: 2px solid black;
}

.divIgnorada {
    height: 65px;
}