footer {
    font-family: Arial, Helvetica, sans-serif
}

.redes-sociais {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

.midias-sociais {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 30%;
}

.copright-footer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;
}

.copright-footer p {
    color: #fff;
}

.copright-footer h2 {
    margin-bottom: 8px;
    font-size: 20px;
    color: #fff;
}

.copright-footer p {
    color: #fff;
}

.devs-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    margin-right: 5px;
}

.devs-names h1 {
    margin-bottom: 5px;
    font-size: 18px;
}

.devs-names h2 {
    margin-bottom: 3px;
}

.span-topo a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration:solid;
    font-size: 18px;
}

.span-topo a:hover {
    color: blueviolet;
}