.redes-sociais {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.midias-sociais img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}