.subMain {
    width: 100%;
    height: 25%;
    display: block;
}

.containerPecas {
    height: 85%;
    width: 100%;
    min-width: 10rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
}

.fotoProdutos {
    display: flex;
    align-self: center;
    justify-self: center;
}

.pecas {
    border-color: black;
}

.preco {
    color: #757575;
}

.favorito {
    color: #757575;
}

.nomeProduto {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

.infosProdutos {
    display: flex;
    gap: 1rem;
}

.coracao {
    height: 22px;
    width: 22px;
    transition: 2.5s;
    cursor: pointer;
}

.imgProduto {
    cursor: pointer;
}