.mainPagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subMain {
    width: 90%;
    height: 25%;
    display: block;
}

.containerPecas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    flex-direction: row;
}

.imgProduto {
    width: 20vw;
    height: 13vw;
    margin: 2vw;
    overflow: hidden;
    clip-path: polygon(0% 0%, 85% 0%, 100% 15%, 100% 85%, 100% 100%, 15% 100%, 0% 85%, 0% 15%);
}

.pecas {
    border-color: black;
}

.preco {
    color: #757575;
}

.favorito {
    color: #757575;
}

.nomeProduto {
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.35vw;
    width: auto;
    margin: 0.5vw;
}

.infosProdutos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.35vw;
    gap: 10rem;
    width: 100%;
}

.coracao {
    height: 22px;
    width: 22px;
    transition: 2.5s;
    cursor: pointer;
}