.tituloProduto {
    font-family: 'Audiowide', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.fotoDosProdutos {
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 500px;
    max-height: 500px;
}

.subTituloProduto {
    font-family: 'Audiowide', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.formaPagamento {
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;
}

.containerProduto {
    display: flex;
    flex: start;
    align-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.containerContido {
    max-width: 500px;
    max-height: 400px;
    background-color: rgba(222, 221, 218, 0.466);
    border: 3px solid #d4dadd;
    line-height: 2em;
    text-indent: 10px;
}

.estrelaContido {
    display: flex;
    align-items: center;
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;
    gap: 3px;
}

.infosProdutos {
    display: flex;
    gap: 1rem;
}

.button {

}

.descricaoProduto {
    font-family: 'Audiowide', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    text-indent: 10px;
}