body {
    background-image: linear-gradient(#171142, #24285e);
}

.container-servicos {
    display: flex;
    justify-content: center;
    width: 70vw;
}

.contido-servicos {
    width: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
    /* Surpresa background-image: linear-gradient(#24285e,#171142);*/
    /* Escura background-image: linear-gradient(#24285e,#373869);*/
    background-image: linear-gradient(#383a6a, #2e2854);
    position: relative;
    overflow: hidden;
    clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
}

.contido-servicos a {
    display: flex;
    margin-bottom: 13%;
    margin-top: -10%;
    justify-content: center;
    font-size: 1vw;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
}

.contido-servicos img {
    width: 50%;
    height: 50%;
    margin-top: 25%;
    margin-left: -5%;
    margin-right: -5%;
}

/* refaturar quando possível */
.pontos-servicos {
    display: flex;
    justify-content: center;
    width: 5%;
}

.espaco-pontos {
    display: flex;
    gap: 1vw;
}

.espaco-pontos img {
    width: 15%;
    /* 15% dos 5% lá do pontos-servicos */
}

.titulo-superior {
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 10vw;
    /* margin-bottom: -1%; */
    font-size: 2vw;
}

.centralizar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}


/* imagens diversas https://br.freepik.com/ */
