body {
    background-image: linear-gradient(#062c5e, #3d106a);
    height: 100vh;
}

.container {
    justify-content: center;    
    display: flex;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: auto;
    width: auto;
    height: 300px;
    background-image: linear-gradient(#062c5e, #3d106a);
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contido {
    width: auto;
    height: auto;
    margin: 10px;
    background-image: linear-gradient(#0d4997, #661caf);
    border-style: outset
    border:3px solid #ffffff;
    justify-content: center;
}

.titulo-superior {
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 10px;
}

.acessos {
    color: #ffffff;
    text-align: auto;
    margin: 2px;
}
    /* https://www.devmedia.com.br/forum/inserir-uma-imagem-dentro-de-um-botao/516912 */

    /* https://pt.stackoverflow.com/questions/477382/transformar-uma-imagem-em-um-button-submit-html5-css3 */

    /* https://icons8.com.br/icon/set/servi%C3%A7o/nolan */

    /* https://fvsch.com/svg-gradient-fill */

    /* https://www.w3schools.com/graphics/svg_grad_linear.asp */

    /* https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Gradients */