body {
    background-image: linear-gradient(#062c5e, #3d106a);
}

.container-servicos {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 100px;
    width: 80%;
    background-color: #1E1E1E;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 350px;
}

.contido-servicos {
    width: 25%;
    height: 280px;
    margin: 10px;
    margin-top: 35px;
    background-color: #333160;
    position: relative;
    overflow: hidden;
    clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
}

.contido-servicos a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ilojasIcone {
    margin-top: 10px;
}

.controle-imagens {
    margin-top: 12%;
    width: 60%;
}

/* refaturar quando possível */
.pontos-servicos {
    margin: 20px;
    position: relative;
    top: 100px;
}

.iconeProjeto {
    width: 100%;
}

.titulo-superior {
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 16px;
    margin-top: 30px;
}

.acessos {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
}

.espaco-pontos {
    display: flex;
    gap: 1vw;
    margin: 5px;
    margin-top: 75px;
}