/* HEADER  */



/* PEÇAS PRODUTOS */

.subMain {
    width: 100%;
    height: 25%;
    display: block;
}

.containerPecas {
    display: grid;
    /* height: 100%; */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    /* Ou qualquer outro ajuste necessário */
}

/* FIM PARTE PEÇAS  */

/* SERVIÇOS VINICIUS */

.container-servicos {
    height: 192px;
    width: 90%;
}

.contido-servicos {
    width: 100%;
    height: 140px;
}

/* FIM PARTE SERVIÇOS */

/* PARTE NELSON */

.midias-sociais {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    height: 50%;
}

.copright-footer  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    text-align: justify;
}

/* FIM PARTE NELSON */

/* SLIDER  */

.slider{
    /* Para mudar o tamanho das imagens mude o height, e o width.
    Se for mudar o local onde o slider vai ficar mude o top, left e transform:translate:. */
    height: 500px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;

}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FIM DO SLIDER  */